<div id="<%= dom_id idea %>">
  <p>
    <strong>Name:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong>Picture:</strong>
	<%# Using the image_tag we have told Rails to display the file upload as an image %>
	<%#if it is present on the idea. Ideas without a picture will not show one. %>
    <%= image_tag(idea.picture_url, width: 600) if idea.picture? %>
  </p>

</div>
